@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    color: #fed;
    cursor: pointer;
}

html, body {
    height: 100%;
    width: 100%;
}

#cursor{
    height: min(2vw, 2vh);
    width: min(2vw, 2vh);
    background-color: #95c11e;
    border-radius: 50%;
    position: fixed;
    z-index: 3;
    transition: all 0.25s ease;
}

#cursor-blur{
    height: min(25vw, 25vh);
    width: min(25vw, 25vh);
    background-color: #c2df72a2;
    border-radius: 50%;
    position: fixed;
    filter: blur(min(20vw, 10vh));
    z-index: 2;
    transition: 0.7s ease;
}

nav {
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 50px;
    gap: 4%;
    position: fixed;
    z-index: 999;
}

#nav img{
    aspect-ratio: 31/10;
    width: 20%;
    max-height: 52px;
    max-width: 156px;
}

#nav h4{
    text-transform: uppercase;
    font-weight: 500;
    font-size: min(1.5vw, 16px);
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#main{
    position: relative;
    background-color: rgba(0,0,0,0.2);
}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#page1 h1{
    font-size: 9vw;
    font-weight: 900;
    position: relative;
    z-index: 10;
}

#page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: black;
    top: -4%;
    left: -0.5%;
    -webkit-text-stroke: 2px #82a71a;
    z-index: -1;
}

#page1 h2{
    text-transform: uppercase;
    font-size: 2.5vw;
    font-weight: 800;
    margin-top: 0.4%;
    margin-bottom: 0.8%;
}

#page1 p{
    font-size: max(1.5vw, 16px);
    font-weight: 500;
    width: 65%;
}

#page1 #arrow{
    height: 18vw;
    width: 18vw;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    left: -2%;
    bottom: 0.5%;
    border: 2px solid #95c11e;
    transition: all ease 0.6s;
    z-index: 10;
}

#page1 #arrow i{
    font-size: 4vw;
    font-weight: 400;
}

#page1 #arrow:hover{
    scale: 0.5;
    background-color: #96c11e58;
}

#page2 {
    min-height: 100vh;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

#scroller {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}

#scroller::-webkit-scrollbar{
    display: none;
}

#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroller h4{
    display: inline-block;
    white-space: nowrap;
    font-size: 7vw;
    font-weight: 900;
    font-family: 'Gilroy', sans-serif;
    margin-right: 10px;
    margin-bottom: 5px;
    color: transparent;
    -webkit-text-stroke: 2px #95c11e;
    transition: all 0.4s;
}

#scroller-in h4:hover{
    color: #95c11e !important;
}

@keyframes scroll{
    from{
        transform: translateX(0)
    }
    to{
        transform: translateX(-100%);
    }
}

#about-us{
    height: 50vh;
    width: 100%;
    display: flex;
    align-items:  center;
    justify-content: space-around;
    padding-top: 10px;
}

#about-us img{
    height: min(25vh, 25vw);
    object-fit: cover;
    border-radius: 5%;
}

#about-us-inside{
    width: 40%;
    text-align:  center;
}

#about-us-inside p{
    font-size: 1.25vw;
    font-weight: 500;
}

#about-us-inside h3{
    font-size: 2.25vw;
    font-weight: 800;
    padding-bottom: 2vh;
}

#cards-container{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    z-index: 10;
}

.card{
    height: 85%;
    width: 24%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    max-height: 50vw;
    overflow: hidden;
    transition: transform 0.1s linear, all ease 0.6s;
    /* transform-style: preserve-3d; */
    perspective: 50vw; 
}

#card1{
    background-image: url('./images/card1.avif');
}

#card2{
    background-image: url('./images/card2.webp');
}

#card3{
    background-image: url('./images/card3.avif');
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: #95c11e;
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity: 0;
    display: flex;
    flex-direction: column;
    transition: all ease 0.6s;
}

.overlay:hover{
    opacity: 1;
}

.overlay h4{
    color: #000;
    font-size: 2.5vw;
    font-weight: 800;
    /* white-space: nowrap; */
    overflow-wrap: break-word;
    margin-bottom: 20px;
}

.overlay p{
    color: #000;
    font-size: min(1.7vw, 24px);
    padding-top: 15px;
}

#green-div{
    height: 24vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgb(50, 194, 50),#95c11e);
    margin: 5px;
}

#green-div h4{
    width: 45%;
    font-size: 2vw;
    font-weight: 800;
    line-height: 3.5vw;
    text-align: center;
    color: #000;
}

#green-div img{
    height: 20vh;
    width: 14%;
    object-fit: cover;
}

#page3{
    height: 70vh;
    width:100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#page3>p{
    font-size: 2.25vw;
    line-height: 3.25vw;
    font-weight: 700;
    width: 55%;
    text-align: center;
}

#page3 img{
    position: absolute;
    width: 5%;
}

#page3 #quote1{
    left: 12%;
    top : 35%;
}

#page3 #quote2{
    right: 15%;
    bottom: 40%;
}

#page4 {
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
    position: relative;
}

.elem{
    height: 70%;
    width: 25%;
    overflow: hidden;
    border-radius: 2.5vw ;
    position: relative;
    transform: scale(1);
    z-index: 10;
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.elem h2{
    height: 100%;
    width: 100%;
    background-color: #95c11e;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.7vw;
    position: absolute;
    color: #000;
    font-weight: 800;
    transition: all ease 1s;
}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.elem:hover h2{
    background-color: transparent !important;
    color: #fff;
    scale: 1.1;
}

.elem:hover{
    transform: scale(1.05);
}

#page4 h1{
    font-size: 5vw;
    position: absolute;
    top: -1%;
    font-weight: 900;
    color: #000;
    -webkit-text-stroke: 2px #fff;
    font-family: sans-serif;
}

footer {
    height: 35vh;
    width: 100%;
    background: linear-gradient(to left bottom, #38ba5d, #c7ff2e);
    position: relative;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    gap: 2%;
    padding: 0px;
    z-index: 10;
}

footer img{
    aspect-ratio: 31/10;
    width: 12vw;
    max-height: 52px;
    max-width: 156px;
    margin-left: 10px;
}

footer ul{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    list-style-type: none;
}

footer ul{
    text-decoration: none;
}

footer ul li{
    color: #000;
    font-weight: 600;
    line-height: 3vh;
    font-size: 2vh;
}

footer p{
    color: #000;
    font-weight: 500;
    font-size: 2vh;
    width: 20vh;
    text-align: left;
}

footer b a{
    color: black;
    text-decoration: none;
    transition: all 0.2s ease;
    font-size: 2.5vh;
}

footer b a:hover{
    color: white;
    
    text-decoration: underline;
}